# Server
SERVER_HOST=127.0.0.1
SERVER_PORT=8080

# Database
DATABASE_URL=postgres://ehr_admin:ehr_password@127.0.0.1:5432/ehr_db

# JWT
JWT_SECRET=super-secret-key-change-in-production
JWT_EXPIRATION_MINUTES=15

# Encryption
ENCRYPTION_KEY=32-byte-hex-key-here-replace-me

# Blockchain - Stellar Testnet (Soroban)
RECORD_REGISTRY_CONTRACT_ID=CCL5QJQHIY2WP637HMJQ5NGIHDFK7ET2FPSDZAPPNDQSUC63HO23VNDD
ACCESS_MANAGER_CONTRACT_ID=CAQF6LCVGDOZXHXZMADFHB6EL5ELRGJAHZKFPLVEJM75PRIKQCD7XUJ2
AUDIT_TRAIL_CONTRACT_ID=CAIXRA5QQTJOF5HFMBLZA3BXFKMTIM7JVJBKYPLKDO2HJOMSSPGLOMKN
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_ADMIN_KEY=SAUZV3KJY5W7PGLK5L7OQHL3F7XCNHMPEMRDWFOM2XMR6EPIE52QAGQR
